@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:wght@400;700&display=swap');

@import "tailwindcss";

@theme {
  --color-umber: #45210E;
  --color-ochre: #F4BA17;
  --font-sans: "Be Vietnam Pro", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-sans);
    color: var(--color-umber);
    background-color: var(--color-slate-50);
  }
}
